[Unit]
Description=DNSTAPIR EDGE Certificate Renewal
After=network-online.target

[Service]
Type=oneshot
User=tapir-edge
Group=tapir-edge
ExecStart=/usr/bin/tapir-cli --standalone enroll --datakey /etc/dnstapir/certs/datakey-priv.json --tlskey /etc/dnstapir/certs/tls.key

